<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Resume Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Load static files -->
    {% load static %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <style>
        .logout-btn {
            margin-left: auto; /* Pushes the button to the right */
        }

        .logout-btn a {
            display: inline-block; /* Makes the link behave like a button */
            padding: 10px 20px; /* Adds padding for a better look */
            background-color: #dc3545; /* Bootstrap's danger color */
            color: white; /* Text color */
            border: none; /* Removes default border */
            border-radius: 5px; /* Rounds the corners */
            text-decoration: none; /* Removes underline from the link */
            font-weight: bold; /* Makes the text bold */
            transition: background-color 0.3s ease; /* Smooth transition for hover effect */
        }

        .logout-btn a:hover {
            background-color: #c82333; /* Darker shade on hover */
        }
        .navbar {
            padding: 10px 20px; /* Adjust padding for vertical spacing */
        }
        
        .navbar-content {
            display: flex;
            justify-content: space-between; /* Space out brand and buttons */
            align-items: center; /* Center items vertically */
            width: 100%; /* Ensure it takes full width */
        }
        
        .brand-and-toggler {
            display: flex;
            align-items: center; /* Center items vertically */
        }
        
        .navbar-brand {
            display: flex;
            align-items: center; /* Center icon and text */
            text-decoration: none; /* Remove underline */
        }
        
        .navbar-brand-icon {
            height: 40px; /* Set a fixed height for the icon */
            margin-right: 10px; /* Space between icon and text */
        }
        
        .navbar-buttons {
            display: flex;
            gap: 10px; /* Space between buttons */
        }
        
        .btn {
            padding: 8px 12px; /* Adjust padding for buttons */
            font-size: 14px; /* Set a consistent font size */
        }
        
        .navbar-toggler-btn {
            display: none; /* Hide toggler button by default */
        }
        
        /* Media query for responsive design */
        @media (max-width: 768px) {
            .navbar-buttons {
                display: none; /* Hide buttons on small screens */
            }
        
            .navbar-toggler-btn {
                display: block; /* Show toggler button on small screens */
            }
        }
    </style>
</head>
<body>
    <nav class="navbar bg-white">
        <div class="container">
            <div class="navbar-content">
                <div class="brand-and-toggler">
                    <a href="{% url 'index' %}" class="navbar-brand">
                        <img src="{% static 'images/curriculum-vitae.png' %}" alt="" class="navbar-brand-icon">
                        <span class="navbar-brand-text">resumate.</span>
                    </a>
                    <button type="button" class="navbar-toggler-btn">
                        <div class="bars">
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                        </div>
                    </button>
                </div>
                <div class="navbar-buttons">
                    <a href="{% url 'ats_score' %}" class="btn btn-danger">ATS Score</a>
                    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <section id="about-sc">
        <div class="container">
            <div class="about-cnt">
                <form action="{% url 'resume_view' %}" method="POST" class="cv-form" id="cv-form">
                    {% csrf_token %}
                    <div class="cv-form-blk">
                        <div class="cv-form-row-title">
                            <h3>About Section</h3>
                        </div>
                        <div class="cv-form-row cv-form-row-about">
                            <div class="cols-3">
                                <div class="form-elem">
                                    <label for="firstname" class="form-label">First Name</label>
                                    <input name="firstname" type="text" class="form-control firstname" onkeyup="generateCV()" placeholder="e.g. John">
                                    <span class="form-text"></span>
                                </div>
                                <div class="form-elem">
                                    <label for="middlename" class="form-label">Middle Name <span class="opt-text">(optional)</span></label>
                                    <input name="middlename" type="text" class="form-control middlename" onkeyup="generateCV()" placeholder="e.g. Herbert">
                                    <span class="form-text"></span>
                                </div>
                                <div class="form-elem">
                                    <label for="lastname" class="form-label">Last Name</label>
                                    <input name="lastname" type="text" class="form-control lastname" onkeyup="generateCV()" placeholder="e.g. Doe">
                                    <span class="form-text"></span>
                                </div>
                            </div>

                            <div class="cols-3">
                                <div class="form-elem">
                                    <label for="image" class="form-label">Your Image</label>
                                    <input name="image" type="file" class="form-control image" accept="image/*" onchange="previewImage()">
                                </div>
                                <div class="form-elem">
                                    <label for="designation" class="form-label">Designation</label>
                                    <input name="designation" type="text" class="form-control designation" onkeyup="generateCV()" placeholder="e.g. Sr. Accountant">
                                    <span class="form-text"></span>
                                </div>
                                <div class="form-elem">
                                    <label for="address" class="form-label">Address</label>
                                    <input name="address" type="text" class="form-control address" onkeyup="generateCV()" placeholder="e.g. Lake Street-23">
                                    <span class="form-text"></span>
                                </div>
                            </div>

                            <div class="cols-3">
                                <div class="form-elem">
                                    <label for="email" class="form-label">Email</label>
                                    <input name="email" type="text" class="form-control email" onkeyup="generateCV()" placeholder="e.g. johndoe@gmail.com">
                                    <span class="form-text"></span>
                                </div>
                                <div class="form-elem">
                                    <label for="phoneno" class="form-label">Phone No:</label>
                                    <input name="phoneno" type="text" class="form-control phoneno" onkeyup="generateCV()" placeholder="e.g. 456-768-798, 567.654.002">
                                    <span class="form-text"></span>
                                </div>
                                <div class="form-elem">
                                    <label for="summary" class="form-label">Summary</label>
                                    <input name="summary" type="text" class="form-control summary" onkeyup="generateCV()" placeholder="e.g. Experienced software developer">
                                    <span class="form-text"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cv-form-blk">
                        <div class="cv-form-row-title">
                            <h3>Achievements</h3>
                        </div>
                        <div class="row-separator repeater">
                            <div class="repeater" data-repeater-list="group-a">
                                <div data-repeater-item>
                                    <div class="cv-form-row cv-form-row-achievement">
                                        <div class="cols-2">
                                            <div class="form-elem">
                                                <label for="achieve_title" class="form-label">Title</label>
                                                <input name="achieve_title" type="text" class="form-control achieve_title" onkeyup="generateCV()" placeholder="e.g. Best Employee of the Year">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="achieve_description" class="form-label">Description</label>
                                                <input name="achieve_description" type="text" class="form-control achieve_description" onkeyup="generateCV()" placeholder="e.g. Awarded for outstanding performance">
                                                <span class="form-text"></span>
                                            </div>
                                        </div>
                                        <button data-repeater-delete type="button" class="repeater-remove-btn">-</button>
                                    </div>
                                </div>
                            </div>
                            <button type="button" data-repeater-create class="repeater-add-btn">+</button>
                        </div>
                    </div>

                    <div class="cv-form-blk">
                        <div class="cv-form-row-title">
                            <h3>Experience</h3>
                        </div>
                        <div class="row-separator repeater">
                            <div class="repeater" data-repeater-list="group-b">
                                <div data-repeater-item>
                                    <div class="cv-form-row cv-form-row-experience">
                                        <div class="cols-3">
                                            <div class="form-elem">
                                                <label for="exp_title" class="form-label">Title</label>
                                                <input name="exp_title" type="text" class="form-control exp_title" onkeyup="generateCV()">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="exp_organization" class="form-label">Company / Organization</label>
                                                <input name="exp_organization" type="text" class="form-control exp_organization" onkeyup="generateCV()">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="exp_location" class="form-label">Location</label>
                                                <input name="exp_location" type="text" class="form-control exp_location" onkeyup="generateCV()">
                                                <span class="form-text"></span>
                                            </div>
                                        </div>
                                        <div class="cols-3">
                                            <div class="form-elem">
                                                <label for="exp_start_date" class="form-label">Start Date</label>
                                                <input name="exp_start_date" type="date" class="form-control exp_start_date" onkeyup="generateCV()">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="exp_end_date" class="form-label">End Date</label>
                                                <input name="exp_end_date" type="date" class="form-control exp_end_date" onkeyup="generateCV()">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="exp_description" class="form-label">Description</label>
                                                <input name="exp_description" type="text" class="form-control exp_description" onkeyup="generateCV()">
                                                <span class="form-text"></span>
                                            </div>
                                        </div>
                                        <button data-repeater-delete type="button" class="repeater-remove-btn">-</button>
                                    </div>
                                </div>
                            </div>
                            <button type="button" data-repeater-create class="repeater-add-btn">+</button>
                        </div>
                    </div>

                    <div class="cv-form-blk">
                        <div class="cv-form-row-title">
                            <h3>Education</h3>
                        </div>
                        <div class="row-separator repeater">
                            <div class="repeater" data-repeater-list="group-c">
                                <div data-repeater-item>
                                    <div class="cv-form-row cv-form-row-education">
                                        <div class="cols-3">
                                            <div class="form-elem">
                                                <label for="edu_school" class="form-label">School</label>
                                                <input name="edu_school" type="text" class="form-control edu_school" onkeyup="generateCV()">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="edu_degree" class="form-label">Degree</label>
                                                <input name="edu_degree" type="text" class="form-control edu_degree" onkeyup="generateCV()">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="edu_city" class="form-label">City</label>
                                                <input name="edu_city" type="text" class="form-control edu_city" onkeyup="generateCV()">
                                                <span class="form-text"></span>
                                            </div>
                                        </div>
                                        <div class="cols-3">
                                            <div class="form-elem">
                                                <label for="edu_start_date" class="form-label">Start Date</label>
                                                <input name="edu_start_date" type="date" class="form-control edu_start_date" onkeyup="generateCV()">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="edu_graduation_date" class="form-label">End Date</label>
                                                <input name="edu_graduation_date" type="date" class="form-control edu_graduation_date" onkeyup="generateCV()">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="edu_description" class="form-label">Description</label>
                                                <input name="edu_description" type="text" class="form-control edu_description" onkeyup="generateCV()">
                                                <span class="form-text"></span>
                                            </div>
                                        </div>
                                        <button data-repeater-delete type="button" class="repeater-remove-btn">-</button>
                                    </div>
                                </div>
                            </div>
                            <button type="button" data-repeater-create class="repeater-add-btn">+</button>
                        </div>
                    </div>

                    <div class="cv-form-blk">
                        <div class="cv-form-row-title">
                            <h3>Projects</h3>
                        </div>
                        <div class="row-separator repeater">
                            <div class="repeater" data-repeater-list="group-d">
                                <div data-repeater-item>
                                    <div class="cv-form-row cv-form-row-project">
                                        <div class="cols-3">
                                            <div class="form-elem">
                                                <label for="proj_title" class="form-label">Project Name</label>
                                                <input name="proj_title" type="text" class="form-control proj_title" onkeyup="generateCV()">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="proj_link" class="form-label">Project Link</label>
                                                <input name="proj_link" type="text" class="form-control proj_link" onkeyup="generateCV()">
                                                <span class="form-text"></span>
                                            </div>
                                            <div class="form-elem">
                                                <label for="proj_description" class="form-label">Description</label>
                                                <input name="proj_description" type="text" class="form-control proj_description" onkeyup="generateCV()">
                                                <span class="form-text"></span>
                                            </div>
                                        </div>
                                        <button data-repeater-delete type="button" class="repeater-remove-btn">-</button>
                                    </div>
                                </div>
                            </div>
                            <button type="button" data-repeater-create class="repeater-add-btn">+</button>
                        </div>
                    </div>

                    <div class="cv-form-blk">
                        <div class="cv-form-row-title">
                            <h3>Skills</h3>
                        </div>
                        <div class="row-separator repeater">
                            <div class="repeater" data-repeater-list="group-e">
                                <div data-repeater-item>
                                    <div class="cv-form-row cv-form-row-skills">
                                        <div class="form-elem">
                                            <label for="skill" class="form-label">Skill</label>
                                            <input name="skill" type="text" class="form-control skill" onkeyup="generateCV()">
                                            <span class="form-text"></span>
                                        </div>
                                        <button data-repeater-delete type="button" class="repeater-remove-btn">-</button>
                                    </div>
                                </div>
                            </div>
                            <button type="button" data-repeater-create class="repeater-add-btn">+</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section id="preview-sc" class="print_area">
        <div class="container">
            <div class="preview-cnt">
                <div class="preview-cnt-l bg-green text-white">
                    <div class="preview-blk">
                        <div class="preview-image">
                            <img src="" alt="" id="image_dsp"> 
                        </div>
                        <div class="preview-item preview-item-name">
                            <span class="preview-item-val fw-6" id="fullname_dsp"></span>
                        </div>
                        <div class="preview-item">
                            <span class="preview-item-val text-uppercase fw-6 ls-1" id="designation_dsp"></span>
                        </div>
                    </div>

                    <div class="preview-blk">
                        <div class="preview-blk-title">
                            <h3>About</h3>
                        </div>
                        <div class="preview-blk-list">
                            <div class="preview-item">
                                <span class="preview-item-val" id="phoneno_dsp"></span>
                            </div>
                            <div class="preview-item">
                                <span class="preview-item-val" id="email_dsp"></span>
                            </div>
                            <div class="preview-item">
                                <span class="preview-item-val" id="address_dsp"></span>
                            </div>
                            <div class="preview-item">
                                <span class="preview-item-val" id="summary_dsp"></span>
                            </div>
                        </div>
                    </div>

                    <div class="preview-blk">
                        <div class="preview-blk-title">
                            <h3>Skills</h3>
                        </div>
                        <div class="skills-items preview-blk-list" id="skills_dsp">
                            <!-- Skills will be populated here -->
                        </div>
                    </div>
                </div>

                <div class="preview-cnt-r bg-white">
                    <div class="preview-blk">
                        <div class="preview-blk-title">
                            <h3>Achievements</h3>
                        </div>
                        <div class="achievements-items preview-blk-list" id="achievements_dsp"></div>
                    </div>

                    <div class="preview-blk">
                        <div class="preview-blk-title">
                            <h3>Education</h3>
                        </div>
                        <div class="educations-items preview-blk-list" id="educations_dsp"></div>
                    </div>

                    <div class="preview-blk">
                        <div class="preview-blk-title">
                            <h3>Experience</h3>
                        </div>
                        <div class="experiences-items preview-blk-list" id="experiences_dsp"></div>
                    </div>

                    <div class="preview-blk">
                        <div class="preview-blk-title">
                            <h3>Projects</h3>
                        </div>
                        <div class="projects-items preview-blk-list" id="projects_dsp"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="print-btn-sc">
        <div class="container">
            <button type="button" class="print-btn btn btn-primary" onclick="printCV()">Print CV</button>
        </div>
    </section>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <!-- jQuery Repeater CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.repeater/1.2.1/jquery.repeater.js" integrity="sha512-bZAXvpVfp1+9AUHQzekEZaXclsgSlAeEnMJ6LfFAvjqYUVZfcuVXeQoN5LhD7Uw0Jy4NCY9q3kbdEXbwhZUmUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/script.js' %}"></script>
    <!-- App JS -->
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>